name: Yocto Recipe Lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Python + OELint
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip
          pip3 install oelint-adv

      - name: Run OELint on one recipe
        run: |
          mkdir -p reports
          oelint-adv --relpaths --mode all \
            meta/recipes-kernel/linux/linux-yocto_6.12.bb \
            --output reports/oelint-report.txt
        continue-on-error: true
        id: lint

      - name: Upload lint report artifact
        uses: actions/upload-artifact@v4
        with:
          name: oelint-report
          path: reports/oelint-report.txt

      - name: Fail job if oelint failed
        if: ${{ steps.lint.outcome == 'failure' }}
        run: exit 1

