name: Yocto Recipe Lint

on:
  push:
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip cppcheck checksec
          pip3 install oelint-adv bandit

      - name: Run OELint on one recipe
        run: |
          mkdir -p reports/linter
          oelint-adv --relpaths --mode all \
            meta/recipes-kernel/linux/linux-yocto_6.12.bb \
            --output reports/linter/oelint-report.txt

      - name: Run ShellCheck
        if: always()
        run: |
          sudo apt-get install -y shellcheck
          mkdir -p reports/shellcheck
          shellcheck -f json \
            $(find meta-mylayer -type f -name "*.sh") \
            > reports/shellcheck/shellcheck.json

      - name: Run kernel hardening checker
        if: always()
        run: |
          git clone https://github.com/a13xp0p0v/kernel-hardening-checker.git
          
          mkdir -p reports/kernel
          ./kernel-hardening-checker/bin/kernel-hardening-checker \
            -c meta-mylayer/recipes-kernel/linux-yocto/.config \
            -m json \
            > reports/kernel/hardening.json

      - name: Run cppcheck and generate HTML report
        if: always()
        run: |
            mkdir -p reports/cppcheck
            cppcheck --xml --enable=all --inconclusive \
            $(find meta-mylayer -name "*.c") \
            2> reports/cppcheck/report.xml
            cppcheck-htmlreport \
            --file reports/cppcheck/report.xml \
            --report-dir reports/cppcheck/html \
            --source-dir .

      - name: Run Bandit and generate HTML report
        if: always()
        run: |
            mkdir -p reports/bandit
            bandit -r $(find meta-mylayer -name "*.py") -f html -o reports/bandit/index.html

      - name: Run Gitleaks
        if: always()
        run: |
            curl -L \
              https://github.com/gitleaks/gitleaks/releases/download/v8.30.0/gitleaks_8.30.0_linux_x64.tar.gz \
              -o gitleaks.tar.gz
          
            tar -xzf gitleaks.tar.gz
            mkdir -p reports/gitleaks
            ./gitleaks detect --report-path=reports/gitleaks/index.html --report-format=template --report-template=./basic.tmpl

      - name: Build minimal image
        if: always()
        run: |
          echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
          sudo apt update
          sudo apt-get install build-essential chrpath cpio debianutils locales
          sudo apt-get install diffstat file gawk gcc git iputils-ping libacl1
          sudo apt-get install liblz4-tool python3 python3-git python3-jinja2
          sudo apt-get install python3-pexpect python3-pip python3-subunit socat
          sudo apt-get install texinfo unzip wget xz-utils zstd python3-websockets
          
          TEMPLATECONF=./meta-mylayer/conf/templates/test-1 source oe-init-build-env build
          bitbake minimal-image

      - name: Run Checksec and generate HTML report
        if: always()
        run: |
          mkdir -p reports/Checksec
          mkdir -p /home/runner/work/msi/msi/build/tmp/deploy/images/qemux86-64/minimal-image-qemux86-64.rootfs
          tar -xf /home/runner/work/msi/msi/build/tmp/deploy/images/qemux86-64/minimal-image-qemux86-64.rootfs.tar.bz2 -C /home/runner/work/msi/msi/build/tmp/deploy/images/qemux86-64/minimal-image-qemux86-64.rootfs
          checksec --dir="/home/runner/work/msi/msi/build/tmp/deploy/images/qemux86-64/minimal-image-qemux86-64.rootfs/" --format=csv > reports/checksec/checksec.csv

      - name: Assemble site directory
        if: always()
        run: |
          mkdir -p reports/site/bandit
          mkdir -p reports/site/cppcheck
          mkdir -p reports/site/kernel
          mkdir -p reports/site/gitleaks
          mkdir -p reports/site/linter
          mkdir -p reports/site/shellcheck/
          mkdir -p reports/site/checksec/
          
          cp -r reports/bandit/* reports/site/bandit/
          cp -r reports/cppcheck/html reports/site/cppcheck/
          cp -r reports/kernel/* reports/site/kernel/
          cp -r reports/gitleaks/* reports/site/gitleaks/
          cp -r reports/linter/* reports/site/linter/
          cp -r reports/shellcheck/* reports/site/shellcheck/
          cp -r reports/checksec/* reports/site/checksec/

      # This packages the site content
      - name: Prepare GitHub Pages artifact
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          path: reports/site

      # This publishes it to GitHub Pages
      - name: Deploy to GitHub Pages
        if: always()
        uses: actions/deploy-pages@v4
        
      - name: Upload Yocto Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: yocto-build-artifacts
          path: |
            /home/runner/work/msi/msi/build/tmp/deploy/images/qemux86-64/minimal-image-qemux86-64.rootfs
            /home/runner/work/msi/msi/build/tmp/deploy/images/qemux86-64/bzImage
          if-no-files-found: error

