name: Yocto Recipe Lint

on:
  push:
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip cppcheck
          pip3 install oelint-adv bandit

      - name: Run OELint on one recipe
        run: |
          mkdir -p reports/linter
          oelint-adv --relpaths --mode all \
            meta/recipes-kernel/linux/linux-yocto_6.12.bb \
            --output reports/linter/oelint-report.txt
        continue-on-error: true
        id: lint


      - name: Run kernel hardening checker
        run: |
          git clone https://github.com/a13xp0p0v/kernel-hardening-checker.git
          
          mkdir -p reports/kernel
          ./kernel-hardening-checker/bin/kernel-hardening-checker \
            -c meta-mylayer/recipes-kernel/linux-yocto/.config \
            -m json \
            > reports/kernel/hardening.json

      - name: Run cppcheck and generate HTML report
        run: |
            mkdir -p reports/cppcheck
            cppcheck --xml --enable=all --inconclusive \
            $(find meta-mylayer -name "*.c") \
            2> reports/cppcheck/report.xml
            cppcheck-htmlreport \
            --file reports/cppcheck/report.xml \
            --report-dir reports/cppcheck/html \
            --source-dir .

      - name: Run Bandit and generate HTML report
        continue-on-error: true
        run: |
            mkdir -p reports/bandit
            bandit -r $(find meta-mylayer -name "*.py") -f html -o reports/bandit/index.html

      - name: Run Gitleaks
        continue-on-error: true
        run: |
            curl -L \
              https://github.com/gitleaks/gitleaks/releases/download/v8.30.0/gitleaks_8.30.0_linux_x64.tar.gz \
              -o gitleaks.tar.gz
          
            tar -xzf gitleaks.tar.gz
            mkdir -p reports/gitleaks
            ./gitleaks detect --report-path=reports/gitleaks/index.html --report-format=template --report-template=./basic.tmpl

      - name: Create index.html
        run: |
            mkdir -p reports/site
            cat << 'EOF' > reports/site/index.html
            <!DOCTYPE html>
            <html>
            <head>
                <meta charset="UTF-8">
                <title>DevSecOps Report Dashboard</title>
                <style>
                  body { font-family: Arial; padding:40px; }
                  h1 { margin-bottom: 30px; }
                  a { display:block; font-size:20px; margin:10px 0; }
                </style>
            </head>
            <body>
              <h1>Security Analysis Dashboard</h1>
            
              <a href="bandit/index.html">Bandit Python Security Report</a>
              <a href="cppcheck/html/index.html">Cppcheck Static Analysis</a>
              <a href="kernel/hardening.json">Kernel Hardening JSON</a>
              <a href="gitleaks/index.html">Gitleaks Report</a>
              <a href="linter/oelint-report.txt">OElint Report</a>
            
              <p>Reports generated automatically via GitHub Actions.</p>
            </body>
            </html>
            EOF

      - name: Assemble site directory
        run: |
          mkdir -p reports/site/bandit
          mkdir -p reports/site/cppcheck
          mkdir -p reports/site/kernel
          mkdir -p reports/site/gitleaks
          mkdir -p reports/site/linter
          
          cp -r reports/bandit/* reports/site/bandit/
          cp -r reports/cppcheck/html reports/site/cppcheck/
          cp -r reports/kernel/* reports/site/kernel/
          cp -r reports/gitleaks/* reports/site/gitleaks/
          cp -r reports/linter/* reports/site/linter/

      # This packages the site content
      - name: Prepare GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: reports/site

      # This publishes it to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4

#      - name: Build minimal image
#        run: |
#          echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
#          sudo apt update
#          sudo apt-get install build-essential chrpath cpio debianutils locales
#          sudo apt-get install diffstat file gawk gcc git iputils-ping libacl1
#          sudo apt-get install liblz4-tool python3 python3-git python3-jinja2
#          sudo apt-get install python3-pexpect python3-pip python3-subunit socat
#          sudo apt-get install texinfo unzip wget xz-utils zstd python3-websockets


#      - name: Fail job if oelint failed
#        if: ${{ steps.lint.outcome == 'failure' }}
#        run: exit 1
