name: Yocto Recipe Lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Python + OELint
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip
          pip3 install oelint-adv

      - name: Run OELint on one recipe
        run: |
          mkdir -p reports
          oelint-adv --relpaths --mode all \
            meta/recipes-kernel/linux/linux-yocto_6.12.bb \
            --output reports/oelint-report.txt
        continue-on-error: true
        id: lint

      - name: Upload lint report artifact
        uses: actions/upload-artifact@v4
        with:
          name: oelint-report
          path: reports/oelint-report.txt

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt-get install build-essential chrpath cpio debianutils locales
          sudo apt-get install diffstat file gawk gcc git iputils-ping libacl1
          sudo apt-get install liblz4-tool python3 python3-git python3-jinja2
          sudo apt-get install python3-pexpect python3-pip python3-subunit socat
          sudo apt-get install texinfo unzip wget xz-utils zstd

      - name: Setup Yocto environment
        run: |
          source oe-init-build-env build
          cat >> conf/local.conf <<EOF
	  BB_HASHSERVE_UPSTREAM = "wss://hashserv.yoctoproject.org/ws"
	  SSTATE_MIRRORS ?= "file://.* http://sstate.yoctoproject.org/all/PATH;downloadfilename=PATH"
	  BB_HASHSERVE = "auto"
	  BB_SIGNATURE_HANDLER = "OEEquivHash"
        EOF

      - name: Build minimal image
        run: |
        bitbake minimal-image || true

      - name: Fail job if oelint failed
        if: ${{ steps.lint.outcome == 'failure' }}
        run: exit 1
